:root {
    --color-logo: #faf9f800;
    --color-logo-1: #2500f7fb;
    --color-border: #000000;
    --color-title: #0a0909;
    --color-heading: #080808;
    --color-excerpt: #110707;
    --color-title-black: rgba(0, 0, 0, 0.8);
}
